
<div class="jumbotron jumbotron-fluid" style="margin-bottom: 0px;">
    <div class="container">
        <h1>LOGOUT</h1>
        <br>      
        <p style="color: black;"></p>
        <p style="color: black;"></p>
        <br>
    </div>
</div>

<div class="container">
    <br>
    <div class="d-flex justify-content-center">
        <p>{{hastaluego}}</p>      
    </div>
    <hr>
    <div class="d-flex justify-content-center">
        <div class="card" style="width:400px">
            <div class="card-body">
                <h4 class="card-title">Iniciar Sesión</h4>
                <p class="card-text">Example text.</p>
                <a href="/" class="btn btn-primary" style="width: 150px;">Inicio de Sesión</a>
            </div>
        </div>
    </div>
</div>
<script src="index.js"></script>
